<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mazadatvideooverlay">

    <application>
        <activity
            android:name=".VideoActivity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>
